{% extends 'base.html' %}
{% block content %}

    <div class="spacerblock">
    </div>

    <div class="infoblock mx-auto">
        <div class="heading">
            Collaborative
        </div>
        <div class="heading highlight">
            AI-augmented
        </div>
        <div class="heading">
            incident response
        </div>
        <div class="list">
            <ul>
                <li>improve situational awareness</li>
                <li>stop relying on out-of-date runbooks</li>
                <li>mitigate faster</li>
            </ul>
        </div>
        <div class="waitlist">
            {% if email|length > 1 %}
            <p class="highlight">you've joined the cool list 😎 {{email}}</p>
            {% else %}
            <form class="form" method="post">
                <div class="input-group">
                    <input type="text" id="inputEmail" class="form-control" placeholder="join the waitlist" name="email">
                    <div class="input-group-append">
                        <button class="btn btn-outline-custom rounded-0" type="submit">add me</button>
                    </div>
                </div>
            </form>
            {% endif %}

        </div>

    </div>

    <div class="secondary infoblock mx-auto">
        <div>        
        <p class="highlight">Multiplayer</p>
        <p>system debugging and situational awareness
            for the whole team without the need to stop your flow.
        </p>
        </div>

        <div>
            <p>
                Learn from previous incidents, get 
            </p>
            <p class="highlight">smart suggestions</p>
            <p>and stay up to date without constantly updating 
                error-prone runbooks.
            </p>
        </div>

        
        <div>
        <p class="highlight">
            Auto-generate incident timelines</p>
        <p>, get new oncall engineers
            up to speed faster.
        </p>
        </div>
        
        <div>
        <p>
            Give your engineers the gift of 
        </p>
        <p class="highlight">AI-augmented memory</p>
        <p>
            and insight 🤖🧠
        </p>
        </div>
        <hr>
        <div>
            <p class="highlight">
                > Join us </p><img src="{{ url_for('static', filename='Flickering_cursor.gif') }}" alt="blinking terminal cursor" height=16px width=8px>
        </div>
        <div>
            <p>
                We're early, but looking for the <span class="highlight">pioneers and explorers</span> who want to join us for an adventure and work on the cutting edge.
                Our crew will be looking to add the following very soon: </p>
                <ol>
                    <li><p>1) A <span class="highlight">product lead</span> who loves UX, dev tools, and AI</p></li>
                    <li><p>2) An <span class="highlight">ML engineer/scientist</span> who wants to ship interesting new applied models to real users</p></li>
                    <li><p>3) A <span class="highlight">frontend engineer</span> w/ a love for performance</p></li>
                    <li><p>4) A <span class="highlight">backend engineer</span> ready to build, scale, and interact with ML systems</p></li>
                    <li><p>5) An <span class="highlight">SRE/DevOps engineer</span> with a calling to dev advocacy and evangelizing</p></li>
                </ol>
                <p>
                    If you are located in Seattle (or willing to be) and interested reach out to our founder:<a href="https://twitter.com/diamondbishop?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">@diamondbishop</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </p>
                
            </p>

        </div> 
        
        </div>
    </div>


{% endblock %}